/**
 * Add any custom CSS here.
 *
 * This file will be loaded after all other theme stylesheets.
 */
@media (min-width: 768px) {
  /**
  *Layout
  */
  .site-header {
    padding-top: 2.61792em;
    padding-bottom: 0;
  }
  .site-header .site-branding {
    display: block;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .site-header .site-branding img {
    height: auto;
    max-width: 230px;
    max-height: none;
  }

  .woocommerce-active .site-header .site-country {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
    float: left;
  }
  .woocommerce-active .site-header .site-branding {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
    float: left;
  }
  .woocommerce-active .site-header .site-search {
    width: 21.73913%;
    float: right;
    margin-right: 0;
    float: left;
    clear: none;
  }
  .woocommerce-active .site-header .main-navigation {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .woocommerce-active .site-header .site-header-cart {
    width: 21.73913%;
    float: right;
    margin-right: 0;
    float: left;
    clear: none;
  }

  .storefront-secondary-navigation .site-header .site-branding {
    width: 39.13043%;
    float: left;
    margin-right: 4.34783%;
  }
  .storefront-secondary-navigation .site-header .secondary-navigation {
    width: 56.52174%;
    float: right;
    margin-right: 0;
  }
  .storefront-secondary-navigation.woocommerce-active .site-header .site-branding {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
  }
  .storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /**
   * Primary Navigation
   */
  .storefront-primary-navigation {
    clear: both;
  }
  .storefront-primary-navigation::before, .storefront-primary-navigation::after {
    content: '';
    display: table;
  }
  .storefront-primary-navigation::after {
    clear: both;
  }

  .main-navigation div.menu {
    display: block;
  }
  .main-navigation ul.menu,
  .main-navigation ul.nav-menu {
    max-height: none;
    overflow: visible;
    margin-left: -1em;
    border-bottom: 10px solid #96588a;
  }
  .main-navigation ul.menu > li > a,
  .main-navigation ul.nav-menu > li > a {
    padding: 0.875em 0.618em;
    text-transform: uppercase;
  }
  .main-navigation ul.menu > li.menu-item-has-children:hover::after, .main-navigation ul.menu > li.page_item_has_children:hover::after,
  .main-navigation ul.nav-menu > li.menu-item-has-children:hover::after,
  .main-navigation ul.nav-menu > li.page_item_has_children:hover::after {
    display: block;
  }
  .main-navigation ul.menu ul,
  .main-navigation ul.nav-menu ul {
    margin-left: 0;
  }
  .main-navigation ul.menu ul li a,
  .main-navigation ul.nav-menu ul li a {
    padding: 0.875em 1.41575em;
    font-weight: 400;
    font-size: 0.875em;
  }
  .main-navigation ul.menu ul li:last-child,
  .main-navigation ul.nav-menu ul li:last-child {
    border-bottom: 0;
  }
  .main-navigation ul.menu ul ul,
  .main-navigation ul.nav-menu ul ul {
    margin-left: 0;
    box-shadow: none;
  }
  .main-navigation ul.menu ul a:hover,
  .main-navigation ul.menu ul li:hover > a,
  .main-navigation ul.menu ul li.focus,
  .main-navigation ul.nav-menu ul a:hover,
  .main-navigation ul.nav-menu ul li:hover > a,
  .main-navigation ul.nav-menu ul li.focus {
    background-color: rgba(0, 0, 0, 0.025);
  }
  .main-navigation a {
    padding: 0 1em 2.29068em;
  }

  /**
   * Header
   */
  .site-header {
    padding-top: 1.618em;
    padding-bottom: 1.618em;
    color: #9aa0a7;
    background-position: center center;
    position: relative;
    z-index: 999;
    border-bottom: 1px solid transparent;
  }
  .site-header .site-logo-anchor,
  .site-header .site-logo-link,
  .site-header .custom-logo-link {
    display: block;
    margin-bottom: 0;
  }
  .site-header .site-logo-anchor img,
  .site-header .site-logo-link img,
  .site-header .custom-logo-link img {
    max-width: 210px;
  }
  .site-header .widget {
    margin-bottom: 0;
  }

  .home.blog .site-header,
  .home.page:not(.page-template-template-homepage) .site-header,
  .home.post-type-archive-product .site-header {
    margin-bottom: 4.2358em;
  }

  .no-wc-breadcrumb .site-header {
    margin-bottom: 4.2358em;
  }
  .no-wc-breadcrumb.page-template-template-homepage .site-header {
    margin-bottom: 0;
  }

  .header-widget-region {
    position: relative;
    z-index: 99;
  }

  .site-country .country-name {
    display: block;
  }

  .site-header-cart .cart-contents {
    padding: .618em 1em;
    display: block;
    position: relative;
    background-color: transparent;
    height: auto;
    width: auto;
    text-indent: 0;
  }

  .site-branding {
    margin-bottom: 0;
  }
  .site-branding .site-title {
    font-size: 2em;
    letter-spacing: -1px;
    margin: 0;
  }
  .site-branding .site-title a {
    font-weight: 700;
  }
  .site-branding .site-description {
    font-size: 0.875em;
    display: none;
  }
  .site-branding .logo {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
