/**
 * Add any custom CSS here.
 *
 * This file will be loaded after all other theme stylesheets.
 */
@import 'susy';
@import 'sass/utils/_mixins';
@import 'sass/utils/_variables';
@import 'sass/vendors/_modular-scale';

@include susy-media($desktop) {
  /**
  *Layout
  */

  	.site-header {
  		padding-top: ms(5);
  		padding-bottom: 0;

  		.site-branding {
  			display: block;
  			@include span(12 of 12);
  			clear: none;

  			img {
  				height: auto;
  				max-width: 230px;
  				max-height: none;
  			}
  		}
  	}

  	.woocommerce-active {
  		.site-header {
        .site-country{
          @include span(3 of 12);
          float: left;
        }
  			.site-branding {
  				@include span(3 of 12);
          float: left;
  			}

  			.site-search {
  				@include span(last 3 of 12);
          float: left;
          clear: none;
  			}

  			.main-navigation {
  				@include span(12 of 12);
  			}

  			.site-header-cart {
  				@include span(last 3 of 12);
          float: left;
          clear: none;
  			}
  		}
  	}

  	.storefront-secondary-navigation {
  		.site-header {
  			.site-branding {
  				@include span(5 of 12);
  			}

  			.secondary-navigation {
  				@include span(last 7 of 12);
  			}
  		}

  		&.woocommerce-active {
  			.site-header {
  				.site-branding {
  					@include span(3 of 12);
  				}

  				.secondary-navigation {
  					@include span(12 of 12);
  				}
  			}
  		}
  	}
    /**
     * Primary Navigation
     */
    .storefront-primary-navigation {
      clear: both;
      @include clearfix;
    }

    .main-navigation {
      div.menu {
        display: block;
      }

      ul.menu,
      ul.nav-menu {
        max-height: none;
        overflow: visible;
        margin-left: -1em;
        border-bottom: 10px solid $color_woocommerce;

        > li {
          // The first level menu item
          > a {
            padding: ms(-1) 0.618em;
            text-transform: uppercase;
          }

          &.menu-item-has-children,
          &.page_item_has_children {
            &:hover {
              &::after {
                display: block;
              }
            }
          }
        }

        ul {
          // Dropdowns
          margin-left: 0;

          li {
            a {
              padding: ms(-1) ms(2);
              font-weight: 400;
              font-size: ms(-1);
            }

            &:last-child {
              border-bottom: 0;
            }
          }

          ul {
            margin-left: 0;
            box-shadow: none;
          }

          a:hover,
          li:hover > a,
          li.focus {
            background-color: rgba( 0, 0, 0, 0.025 );
          }
        }
      }

      a {
        padding: 0 1em ms(4);
      }
    }


 /**
  * Header
  */
 .site-header {
 	// background-color: #2c2d33;
 	padding-top: ms(3);
 	padding-bottom: ms(3);
 	color: #9aa0a7;
 	background-position: center center;
 	position: relative;
 	z-index: 999;
 	border-bottom: 1px solid transparent;

 	.site-logo-anchor,
 	.site-logo-link,
 	.custom-logo-link {
 		display: block;
 		margin-bottom: 0;

 		img {
 			max-width: 210px;
 		}
 	}

 	.widget {
 		margin-bottom: 0;
 	}
 }

 .home.blog,
 .home.page:not( .page-template-template-homepage ),
 .home.post-type-archive-product {
 	.site-header {
 		margin-bottom: ms(7);
 	}
 }

 .no-wc-breadcrumb {
 	.site-header {
 		margin-bottom: ms(7);
 	}

 	&.page-template-template-homepage {
 		.site-header {
 			margin-bottom: 0;
 		}
 	}
 }

 .header-widget-region {
 	position: relative;
 	z-index: 99;
 }

 .site-country {
   .country-name {
   display: block;
  }
 }

 .site-header-cart .cart-contents {
    padding: .618em 1em;
    display: block;
    position: relative;
    background-color: transparent;
    height: auto;
    width: auto;
    text-indent: 0;
}

 .site-branding {
 	margin-bottom: 0;

 	.site-title {
 		font-size: 2em;
 		letter-spacing: -1px;
 		margin: 0;

 		a {
 			font-weight: 700;
 		}
 	}

 	.site-description {
 		font-size: ms(-1);
 		display: none;
 	}

 	.logo {
 		margin: 0;
 	}
 }
}
